/************************************************TAG SELECTORS************************************************/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3rem;
    line-height: 1.5;
}

/************************************************ID SELECTORS************************************************/

#title {
    background-color: #5AD2A0;
}

/************************************************CLASS SELECTORS************************************************/

.Trekkers-main {
    height: 650px;
    width: 350px;
}

.container-fluid {
    padding: 3% 15%;
}